@* Este archivo se vincula automáticamente a 'ConsentimientoPDF.razor.cs'
  por tener el mismo nombre.
*@
@*
<button class="btn btn-success" @onclick="GenerarPdf">
    <i class="bi bi-file-earmark-pdf-fill me-2"></i> Generar PDF
</button>
*@
