<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>proyecto_hospital_version_1</title>
    <base href="/" />

    <!-- ✅ 1. Bootstrap primero -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- ✅ 2. MudBlazor DESPUÉS de bootstrap -->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- ✅ 3. Tus estilos AL FINAL (sobrescriben a MudBlazor) -->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="app.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="proyecto_hospital_version_1.styles.css" rel="stylesheet" />
</head>

<body>

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudPopoverProvider />

    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="js/interop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="js/dashboard-charts.js" asp-append-version="true"></script>
</body>
</html>
