@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="layout-root">
    <!-- SIDEBAR FIJO PRIMERO -->
    <div class="sidebar">
        <NavMenuMedico />
    </div>

    <!-- CONTENIDO PRINCIPAL (con navbar y footer que respetan sidebar) -->
    <div class="main-content-wrapper">
        <TopNavbar />

        <main>
            <div class="content px-4">
                @Body
            </div>
        </main>

        <Footer />
    </div>
</div>

<div id="blazor-error-ui"></div>