@page "/panel"

<h3>Panel de Control</h3>

<p>Bienvenido, accediste con éxito.</p>

<ul>
    <li><a href="/solicitud">Ir al formulario de solicitudes</a></li>
    <li><a href="/dashboard">Ver Dashboard</a></li>
</ul>
