@using Microsoft.AspNetCore.Components

<div class="mb-4 p-3 bg-light border rounded">
    <h6 class="border-bottom pb-2 mb-3"><i class="bi bi-list-check me-2 text-primary"></i> Procedimientos secunadarios a realizar</h6>

    @if (!ListaProcedimientos.Any())
    {
        <div class="alert alert-info text-center">
            No hay procedimientos añadidos.
        </div>
    }
    else
    {
        <ul class="list-group">
            @foreach (var proc in ListaProcedimientos)
            {
                <li class="list-group-item">@proc</li>
            }
        </ul>
    }

    <button class="btn btn-primary mt-3 w-100" @onclick="HandleAgregarClick">
        <i class="bi bi-plus-circle me-2"></i> Agregar Procedimiento
    </button>
</div>

@code {
    [Parameter]
    public List<string> ListaProcedimientos { get; set; } = new List<string>();

    [Parameter]
    public EventCallback OnAgregarPresionado { get; set; }

    private async Task HandleAgregarClick()
    {
        await OnAgregarPresionado.InvokeAsync();
    }
}