# Archivos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Resultados de compilación
bin/
obj/

# Archivos de cache de Razor
*.rz.scp.css

# Archivos de logs
*.log

# Archivos generados automáticamente
*.dll
*.exe
*.pdb
*.cache
*.vsidx
*.v7.bin
*.dtbcache.v2
*.futdcache.v2
